

/* ROOT */

:root{
    --p-grey: #262626;
    --p-orange:#e33a14;
    --p-blue: #0545f7;
    --light-grey:rgb(167, 164, 164);
}

/* GENERAL */

img{
    max-width: 100%;
    display: inline-block;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

button{
    padding:5px 15px;
    color: #fff;
    border-radius: 25px;
    border-style: none;
    background-color:var(--p-blue);
    font-size: 16px;
}

/* UTILITY */

.jumbotron{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.txt-grey{
    color: var(--light-grey);
}

.txt-blue{
    color: var(--p-blue);
}

.bg-grey{
    background-color: var(--p-grey);
}

.bg-lightgrey{
    background-color: var(--light-grey);
}

.v-b{
    background-color: blue;
    border: 1px dashed black;
}

.v-r{
background-color: red;
border: 1px dashed orange;
}

.v-g{
    background-color:green;
    border: 1px dashed orange;
    }

.bor-w{
    border: 2px dashed white;
}

.bor-y{
    border: 1px solid yellow;
}


/* NAV BAR */

#main-nav .main-nav-top{
    height: 35px;
}

#logo-sony{
  height: 100%;
  width: 80px;
}

#main-nav .main-nav-bottom{
    height: 65px;
}

.h-menu-frame{
    border-color: rgb(92, 92, 92);
}

#main-nav li .fa-angle-down{
    color: grey;
    cursor:pointer;
}

#main-nav li button{
    background-color: var(--p-grey);
}

/* HEADER */

/* JUMBOTRON */



#main-jumbotron .jumbotron-top{
    height: 550px;
    background-image: url("../img/jumbo-bg.png");
    
}

.jumbotron-top .col button{
    background-color: var(--p-orange);
    font-weight: 600;
}


/* SECTION NEW EXIT */

.new-exit-header{
    height: 550px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
